<h1>Patient Index</h1>

<% @patients.each do |patient|%>
    <ul>
        <li><%= link_to patient.name, patient_path(patient)%> (total appointments: <%=patient.appointments.size%>)</li>
    </ul>
<%end%>