<h1><%= @patient.name %> | <%= @patient.age %></h1>
<% @patient.appointments.each do |appoint| %>
    <% @patient_doctor = @patient.doctors.find(appoint.doctor_id) %>
    <%= link_to @patient_doctor.name, doctor_path(@patient_doctor) %> - <%= link_to appoint.appointment_datetime.strftime("%B %d, %Y at %k:%M"), appointment_path(appoint) %><br>
<% end %>