
<h1>Patient Show Page</h1>
<table>
  <tr>
    <th><h2>Name</h2></th>
    <th><h2>Age</h2></th>
  </tr>
  <tr>
    <td><%= @patient.name %> </td>
    <td><%= @patient.age %></td>
  </tr>
</table>
<br>
<h3>Appointments</h3>

<ul>
  <% @patient.appointments.each do |appt| %>
  <li>
    <strong>Doctor: </strong>
    <%= link_to appt.doctor_name, doctor_path(appt.doctor) %>
  </li>
  <li>
    <strong>Time: </strong>
    <%= link_to appt.date, appointment_path(appt)%>
  </li>
</ul>



  
  

<% end %>