<h1> Appiontment Detail Page</h1>

<p>Patient: <%= @appointment.patient.name%></p>
<p> Doctor: <%= @appointment.doctor.name%></p>
<p> Appointment Date: <%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %l:%M")%>
